.navbar .navbar-brand img {
    width: 60px;
}
.navbar img{
	width: 80px;
	border: 2px solid #cabd07;
	border-radius: 100%;
}
.navbar .nav-item {
    text-decoration-color: tomato;
}
.navbar ul li{
	margin: 10px 0px 5px;
	width: 50px;
	padding: 3px;
}
.btn {
	outline-color: lightblue;
}
.conteudo img{
    width: 400px;
    height: 200px;
    margin: 0px 10px 5px;
}
.sidebar {
    margin-top: 25px;
    float: right;
    width: 275px;
}
.sidebar .widget {
    padding: 25px;
    margin: 0 0 25px;
    background: #262629;
    border-bottom: 2px solid #fff;
    transition: all 0.5s ease;
}
.sidebar .widget:hover {
    border-bottom: 2px solid#e6ab07;
}
.sidebar .widget h2 {
    padding: 0;
    margin: 0 0 15px;
    color: #e6ab07;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}
.sidebar .widget p {
    font-size: 14px;
   }
.sidebar .widget p:last-child {
    margin: 0;
}
.menusidebar {
    list-style: none;
    padding: 0px;
}
.menusidebar li {
    border-bottom: #666 1px solid;
    padding: 5px;
}
.menusidebar li a {
    display: block;
}
.footer {
    background-color: #1b1b1f;
    font-family: "Raleway", sans-serif;
    clear: both;
    text-align: center;
    padding: 15px;
   }